@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background-color: #191316;
  color-scheme: black;
  color: #fffbfd;
  min-height: 100vh;
  background-color: hsla(330, 13%, 8%, 1);
}

body {
  background-color: hsla(330, 12%, 8%, 1);
  background-color: hsla(330, 12%, 8%, 1);
  background-image: radial-gradient(at 0% 0%, hsla(321, 81%, 14%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(180, 10%, 25%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 99%, hsla(18, 40%, 23%, 1) 0px, transparent 50%);
  background-size: 300% 300%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
